@media screen and (max-width: 300px) {
  :root {
    font-size: 12px;
  }
}
/*^========> Container <========*/
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding-inline: 15px;
  }
}
/*^========> Navbar <========*/
@media screen and (max-width: 1200px) {
  .logo {
    position: relative;
    left: 15px;
  }
  nav .nav-links {
    --inline-gap: 0px;
    --block-gap: 15px;
    transform: translateX(100%);
    position: absolute;
    z-index: 999;
    width: 350px;
    height: 100%;
    background-color: #fff;
    border-left: 2px solid #f1f1f1;
    right: 0;
    top: 0;
    flex-direction: column;
    transition: transform 400ms;
  }

  nav .nav-links .close-icon {
    display: block;
    padding: 10px 15px 5px;
  }

  nav .nav-links a:not(.active):hover::before {
    width: 0px;
  }

  nav .nav-links a {
    width: 100%;
    padding: var(--block-gap) 10px;
  }

  nav .nav-links a::before {
    bottom: 2px;
  }

  nav .menu-icon {
    display: block;
    position: absolute;
    right: 15px ;
  }

  nav .mood-page {
    position: absolute;
    right: 62px;
  }
}

/*^========> home section <========*/
@media screen and (min-width: 1200px) {
  .home-section {
    min-height: 100vh;
  }
}

@media screen and (max-width: 992px) {
  .home-section .container {
    flex-direction: column-reverse;
    gap: 50px;
    margin-top: 95px;
  }
  .home-section .container > * {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  .home-section .book-btn {
    border-radius: 100vh;
  }
}
@media screen and (max-width: 400px) {
  .content-sec-home .btns-sec-home {
    flex-direction: column;
    gap: 20px;
  }
}

/*^========> Chefs <========*/
@media screen and (max-width: 992px) {
  .chefs-cards .card {
    width: calc(calc(100% - var(--gap)) / 2);
  }
}
@media screen and (max-width: 768px) {
  .chefs-cards .card {
    width: 100%;
  }
}

/*^========> Gallery <========*/
@media screen and (max-width: 1400px) {
  .gallery-photos {
    min-height: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .gallery-photos {
    min-height: 845px;
  }
}

@media screen and (max-width: 992px) {
  .gallery-photos {
    min-height: 1405px;
  }
}
@media screen and (max-width: 992px) {
  .gallery-section .gallery-img {
    width: 100%;
    
  }

  .gallery-img .pizza {
    order: 1;
  }
  .gallery-img .fried {
    order: 6;
  }
  .gallery-img .omelette {
    order: 4;
  }
  .gallery-img .kofta {
    order: 7;
  }
  .gallery-img .burger {
    order: 2;
  }
  .gallery-img .pizza-slices {
    order: 3;
  }
  .gallery-img .steak {
    order: 5;
  }
}

@media screen and (max-width: 768px) {
  .gallery-img {
    flex-direction: row;
    min-height: fit-content;
  }
  .gallery-img .pic {
    width: 100%;
  }
}
/*^========> Contacts <========*/
@media screen and (max-width: 992px) {
  .contact-section .input-group input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contact-section .details-contact-sec > div {
    width: 100%;
  }
}

/*^========> Footer <========*/

@media screen and (max-width: 1200px) {
  footer .container :is(.brand-info, .contact-us) {
    width: calc(calc(100% - var(--gap)) / 2);
    order: 1;
  }
}
  footer .container :is(.subscription) {
    width: 100%;
    order: 2;
  }


@media screen and (max-width: 768px) {
  footer .container :is(.brand-info, .contact-us, .subscription) {
    width: 100%;
    order: 0;
  }
}

@media screen and (max-width: 576px) {
  footer .subscribtion-group {
    flex-direction: column;
    gap: 10px;
  }
}
